.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-preview-container {
  height: 540px;
  width: 320px;
  background: hsl(210, 46%, 95%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
}

.preview-item {
  background-image: url('/src/assets/images/drawers.jpg');
  background-size: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 100%;
  width: 320px;
}

.preview-container {
  padding: 1rem 2rem;
  text-align: left;
}

.preview-header {
  color: hsl(217, 19%, 35%);
}

.preview-info {
  font-size: 13px;
  line-height: 1.6;
  color: hsl(214, 17%, 51%);
}

.person-info,
.social-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.3s ease-in;
}

.person-flex,
.social-flex {
  display: flex;
  gap: 15px;
  align-items: center;
}

.person-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.person-name {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 0;
}

.publish-date {
  margin-top: 5px;
  color: hsl(212, 23%, 69%);
  font-size: 13px;
}

.share-img,
.share-img-social {
  background-color: hsl(212, 23%, 87%);
  justify-content: center;
  align-items: center;
  color: hsl(217, 19%, 35%);
  border-radius: 50%;
  display: flex;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.share-img:hover,
.share-img-social:hover {
  background-color: hsl(217, 19%, 35%);
  color: hsl(210, 46%, 95%);
}

.social-section {
  background-color: hsl(217, 19%, 35%);
  justify-content: space-around;
}

.text-share {
  color: hsl(210, 46%, 95%);
  letter-spacing: 3px;
  font-weight: 500;
}

.social-icons {
  display: flex;
  gap: 10px;
  font-size: 25px;
}

.github,
.facebook,
.twitter {
  color: white;
}

.share-img-social:hover {
  background-color: hsl(212, 23%, 69%);
  color: hsl(217, 19%, 35%);
}

@media screen and (min-width: 768px) {
  .card-preview-container {
    width: 760px;
    height: 290px;
    flex-direction: row;
  }

  .preview-item {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    width: 90%;
  }

  .preview-header {
    font-size: 20px;
  }

  .preview-container {
    padding-right: 3rem;
    padding-left: 2.8rem;
    padding-bottom: 0;
  }

  .preview {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .person-info {
    justify-content: space-between;
    margin: 0 4rem 0 3rem;
  }
}
